.table-admin{
    padding: 2%;
}

table{
    border-radius: 3px;
}

.head-table{
    background-image: linear-gradient(to right, rgb(66, 173, 132) , #58A7DB);
}

.input-question{
    float: right
}

.filter-table{
    width: 100%;
}

.question-page{
    float: right;
}

.options{
    width: 100%;
}

.alert-bg{
    background-color: rgb(214, 41, 41);
}

.medium-bg{
    background-color: rgb(194, 143, 67);
}

.back{
    float: left;
    background: #01293b;
    padding-right: .9%;

    &:hover{
        opacity: 0.5;
    }
}