<section class="table-admin">

  <table class="bg-white responsive-table bordered striped centered">
    <thead class="head-table text-white">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Localidade</th>
      <th>Data de Início</th>
      <th>Pontuação</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>Alessandra Moreira</td>
      <td>alessandra.moreira@zup.com.br</td>
      <td>São Paulo</td>
      <td>
          <a class="btn-floating">3</a>
      </td>
    </tr>
    <tr>
      <td>Eduardo Pereira</td>
      <td>eduardo.pereira@zup.com.br</td>
      <td>São Paulo</td>
      <td>
        <a class="btn-floating">3</a>
      </td>
    </tr>
    <tr>
      <td>Beatriz Moraes</td>
      <td>beatriz.moraes@zup.com.br</td>
      <td>São Paulo</td>
      <td>
        <a class="btn-floating">3</a>
      </td>

    </tr>
    </tbody>
  </table>

</section>
