<section style="padding: 5px"></section>
<mat-accordion class="edit-padding">
  <mat-expansion-panel class="bg-white cust-table">
    <mat-expansion-panel-header>
      <mat-panel-title class="text-black">
        Alessandra Moreira
      </mat-panel-title>
      <mat-panel-description class="text-black">
        alessandra.m@zup.com.br
      </mat-panel-description>   
      <mat-panel-description>
        São Paulo - SP
      </mat-panel-description> 
      <mat-panel-description>
        PROGRESSO: NÍVEL 1
      </mat-panel-description> 
    </mat-expansion-panel-header>
  
</mat-expansion-panel>
