<section class="table-admin">
  <h4 class="white-text">Zuppers (3)</h4>
    <div class="options">
      <button class="btn question-page" [routerLink]="['/input-questions']">+ Cadastrar Perguntas</button>
    </div>
  <br>
  <br>
  <table class="bg-white responsive-table bordered striped centered">
    <thead class="head-table text-white">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Localidade</th>
      <th>Data de Início</th>
      <th>Fase</th>
      <th>Pontuação</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>Alessandra Moreira</td>
      <td>alessandra.moreira@zup.com.br</td>
      <td>São Paulo</td>
      <td>20/12/19</td>
      <td>Tecnologia</td>
      <td>
        <a class="btn-floating">3</a>
      </td>
    </tr>
    <tr>
      <td>Eduardo Pereira</td>
      <td>eduardo.pereira@zup.com.br</td>
      <td>São Paulo</td>
      <td>20/12/19</td>
      <td>Cultura</td>
      <td>
        <a class="btn-floating">3</a>
      </td>
    </tr>
    <tr>
      <td>Beatriz Moraes</td>
      <td>beatriz.moraes@zup.com.br</td>
      <td>São Paulo</td>
      <td>20/12/19</td>
      <td>Cultura</td>
      <td>
        <a class="btn-floating">3</a>
      </td>

    </tr>
    </tbody>
  </table>

</section>
