.table-admin{
    padding: 2%;
}

table{
    border-radius: 3px;
}

.head-table{
    background-image: linear-gradient(to right, rgb(66, 173, 132) , #58A7DB);
}

.input-question{
    float: right
}

.filter-table{
    width: 100%;
}

.question-page{
    float: right;
}

.options{
    width: 100%;
}