section{
    margin-top: 10vh;
    padding: 3%;
    background-color: #004666 ;
}

.title{
    font-weight: 500;
}

.description{
    margin-bottom: 5%;
    font-size: medium;
    font-weight: 400;
}

.option{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1.5% 15% 1.5% 15%;
    font-size: large;
}

