<div class="sky">
        <div class="diagonal-sky-bg">
           <div class="stars">
              <div class="small"></div>
              <div class="medium"></div>
              <div class="big"></div>
            </div>
        </div>
            <section class="container center-align margin-top-section question-bg">
                <p class="title center text-white">Questão x</p>
                <br>
                <p class="description text-white">Descrição da questão aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                <div class="options-section">
                    <button class="option">option 1</button>
                    <br>
                    <button class="option">option 2</button>
                    <br>
                    <button class="option">option 3</button>
                    <br>
                    <button class="option">option 4</button>
                </div>
            </section>
      </div>
