<section class="container">
    <table class="responsive-table">
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>name</td>
            <td>name</td>
            <td>name</td>
          </tr>
          <tr>
            <td>name</td>
            <td>name</td>
            <td>name</td>
          </tr>
          <tr>
            <td>name</td>
            <td>name</td>
            <td>name</td>
          </tr>
        </tbody>
      </table>
</section>