<ngx-spinner bdOpacity = "0.2" bdColor = "#013750" size = "medium" color = "#fff" type = "pacman" [fullScreen] = "true">
  <p style="color: white" > Carregando... </p>
</ngx-spinner>
<section class="questions-list">
  <button class="back" [routerLink]="['/dashboard']"><span class="material-icons left">keyboard_arrow_left</span> voltar</button>
    <h1 class="title white-text">Filtrar por...</h1>
    <div class="filters">
        <button class="btn filter cult" (click)="filterStep(1)">Cultura</button>   
        <button class="btn filter tech" (click)="filterStep(2)">Jornada Zup</button>    
        <button class="btn filter etic" (click)="filterStep(3)">Ética</button> 
        <button class="btn add" [routerLink]="['/input-questions']">Adicionar...</button>  
    </div>
        <table class="bg-white responsive-table bordered striped centered">
        <thead class="head-table white-text">
          <tr>
              <th>Id</th>
              <th>Descrição</th>
              <th>Alternativas</th>
              <th>Deletar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let question of filteredStep?.question">
            <td>{{ question.id }}</td>
            <td>{{ question.description }}</td>
            <td class="col s3">
                <select class="browser-default small-select text-black">
                    <option value="" *ngFor="let alternative of question.alternatives">{{ alternative.description }}</option>
                </select> 
            </td>
            <td>
                <button class="btn-floating red darken-4 delete" (value)="question.id" (click)="deleteQuestion(question.id)"><i class="material-icons">delete</i></button>
            </td>
          </tr>
        </tbody>
      </table>
</section>