
<mat-dialog-content class="center">
  <p>{{googleUser?.firstName}}, antes de começarmos, me conte um pouquinho mais sobre você? 😉</p>
  <div class="row">
    <form [formGroup]="formUser">
      <div class="col s12">
        <select class="browser-default text-black" formControlName="location">
          <option value="Onde você está?" disabled selected>Onde você está?</option>
          <option [value]="location.nameLocation" *ngFor="let location of locationOptions">{{ location.nameLocation }}</option>
        </select> 
        <br>
        <select class="browser-default text-black" formControlName="pod">
          <option value="Qual é a sua POD?" disabled selected>Qual é a sua POD?</option>
          <option [value]="pod.namePod" *ngFor="let pod of podOptions">{{ pod.namePod }}</option>
        </select> 
      </div>
    </form>
    <br>
  </div>  
  <mat-dialog-actions class="center">
    <button class="btn center btn-save" (click)="verifyInfo()">Enviar</button>
  </mat-dialog-actions>
</mat-dialog-content>
