
<mat-dialog-content class="center">
  <p>Oi {{googleUser?.firstName}}! Antes de começarmos, me conte um pouquinho mais sobre você? :)</p>
  <div class="row">
      <div class="col s12">
          <select class="browser-default text-black" [(ngModel)]="locationOptions">
            <option *ngFor="let option of locationOptions; let i = index" [ngValue]="option.nameLocation">{{option.nameLocation}}</option>
          </select>  
      </div>
    </div>
      <div class="row">
        <div class="col s12">
          <select class="browser-default text-black" [(ngModel)]="userPOD">
            <option value="Qual é a sua POD?" disabled selected>Qual é a sua POD?</option>
            <option value="UAI POD">UAI POD</option>
            <option value="No Limits">No Limits</option>
            <option value="Red Rocket">Red Rocket</option>
            <option value="METAPOD">METAPOD</option>
            <option value="Acelera">Acelera</option>
          </select>  
        </div>
      </div>
      <mat-dialog-actions class="center">
        <button class="btn center btn-save" (click)="save()">Enviar</button>
    </mat-dialog-actions>
    <br>
</mat-dialog-content>
