body {
  background-color: #013750;
}

.nav-border {
  border-bottom: 2px solid #a5c138;
  width: 100%;
}

.google-img{
  border-radius: 100%; 
  margin-left: -50px; 
  position: fixed; 
  margin-top: 15px;
  width: 30px;
  height: 30px;
}

.drop-content{
  margin-right: 1%;
}

.title-step{
  margin-bottom: 8%;
  font-size: 1.4em;
}

.stepper-section {
  margin-top: 3%;
}

.icons{
  display: flex;

  img{
    width: 8vw;
  }
}

.svg-icon{
  filter: invert(63%) sepia(54%) saturate(509%) hue-rotate(32deg) brightness(150%) contrast(87%);
}

.disabled-icon{
  filter: invert(15%) sepia(70%) saturate(7422%) hue-rotate(360deg) brightness(108%) contrast(120%);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  display: block;
  float: right;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  background: rgb(92, 92, 92);
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.material-icons.md-18 {
  font-size: 18px;
  float: left;
  margin-right: 10%;
}

::ng-deep {
  .mat-stepper-horizontal {
    background-color: transparent;
  }

  .mat-horizontal-stepper-header {
    pointer-events: none;
  }

  .mat-step-icon {
    padding: 25px !important;
  }

  .mat-horizontal-stepper-header::after,
  .mat-horizontal-stepper-header::before,
  .mat-stepper-horizontal-line {
    border-top-color: #a5c138;
  }

  .mat-step-header .mat-step-icon-state-edit,
  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done {
    background-color: #a5c138!important;
    color: #fff;
  }

  .mat-step-icon{
    background-color: #C4C4C4!important;
  }

  .no-click-backdrop {
    pointer-events: none;
  }
}
