<nav class="transparent nav-border">
    <div class="nav-wrapper">       
      <img src="../../../assets/img/zup-logo.png" class="brand-logo">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <!-- Dropdown Trigger -->
     
        <li *ngIf="googleUser">
        <a class="dropdown-trigger" id="user-dropdown" data-target="dropdown1">  
        <img [src]="googleUser.photoUrl" width="30px" height="30px" style="border-radius: 100%; margin-left: -50px; position: fixed; margin-top: 15px"> 
        {{ googleUser.firstName }}<i class="material-icons right">arrow_drop_down</i></a></li> 
      </ul>
      <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
    </div>
  </nav>

<br>

<div class="container center-align stepper-section">
  <mat-horizontal-stepper labelPosition="bottom" #stepper >
    <mat-step>
      <ng-template matStepLabel>Cultura</ng-template>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Tecnologia</ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Ética</ng-template>
    </mat-step>
</mat-horizontal-stepper>  
  <p class="waves-effect waves-light btn" [routerLink]="['/quiz']">Iniciar Quiz!</p>
</div>

