

body{
    background-color: #013750
}

.nav-border{
    border-bottom: 2px solid #A5C138;
    width: 100%
}

.btn{
    border: none;
    padding: 1%
}

.stepper-section{
    margin-top: 10%
}

#user-dropdown{
    
}


@mixin styleStepLine($index) {
    .mat-horizontal-stepper-header {
        &+.mat-stepper-horizontal-line:nth-child(#{$index}) {
            height: 2px;
            background-image: linear-gradient(to right, #00b495, #00aeea);
        }
    }
}

::ng-deep{


    .mat-horizontal-stepper-header {
        &[ng-reflect-active="true"]+.mat-stepper-horizontal-line {
            border-top-color: #A5C138 !important;
            border-top: 5px solid;
            line-height: 10px;
        }
    }

    .mat-step-icon{
        padding: 25px!important;
        
    }
    
    .mat-step-icon-selected{

        background: #A5C138;
       
        &:disabled{
            background: #c4c4c4;
        }
    }
}

 ::ng-deep .mat-step-header:nth-of-type(1) .mat-step-icon {
         background: #A5C138;
  }
 ::ng-deep .mat-step-header:nth-of-type(2) .mat-step-icon {
     background: #A5C138;
 }
 ::ng-deep .mat-step-header:nth-of-type(3) .mat-step-icon {
     background: #A5C138;  
  } 