<div class="onboarding">
  <div class="login">
    <img class="zup-logo" src="../../../assets/img/zup-logo.png" alt="Zup Logo">
    <p>Onboarding</p>
    <button class="g-button" (click)="login()"><img class="g-img" src="../../../assets/img/google.png"
        alt="imagem logo da Google"> Sign in with Google</button>
  </div>
  <div>
    <div class="animations">
      <img class="floating zup-foguete" src="../../../assets/img/foguete.svg" alt="Foguete">
      <img class="stars1" src="../../../assets/img/Frame 2.png" alt="Estrelas amarelas">
      <img class="stars2" src="../../../assets/img/Frame 3.png" alt="Estrelas amarelas">
    </div>
  </div>
