.onboarding {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 70%;
  margin-top: 65px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login p {
    font-size: 25px;
    color: white;
}

.g-img {
  width: 30px;
}

.g-button {
  background-color: white;
  width: 20vw;
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stars {
  position: absolute;
}

.stars1 {
  position: relative;
  bottom: 85px;
  left: 178px;
}

.stars2 {
  position: relative;
  top: 145px;
  left: 270px;
}

.zup-foguete{
    width: 330px;  
    animation: float 2s infinite ease;
}

.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}
