.onboarding{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    width: 70%;
    margin-top: 65px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
}

.g-img{
    width: 30px;
}

.g-button{
    background-color: white;
    width: 20vw;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.zup-foguete{
    width: 400px;  
}

