<br>
<section class="container center bg-form">
  <h5 class="text-white">Deu certinho e não sobrescreveu</h5>
  <hr class="border-title">
  <br>
    <select class="browser-default" [(ngModel)]="idStep">
        <option name="Selecione o tema" disabled selected>Selecione o tema</option>
        <option value="1">Cultura</option>
        <option value="2">Tecnologia</option>
        <option value="3">Estrutura</option>
      </select>    

    <div class="row text-white">
        <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                  <input id="description" type="text" class="validate" [(ngModel)]="questionDescription">
                  <label for="description">Descrição da pergunta</label>
            </div>    
            <h6 class="text-white subtitle">Escreva as alternativas</h6>

            <div class="input-field col s6" *ngFor="let alternative of alternativeArr; let i = index">
              <input type="text" class="validate" [(ngModel)]="alternative[i]">
              <label> {{ alternative.label }} </label>
            </div>

              <div class="center"> 
                <select class="browser-default text-black" [(ngModel)]="altCorrect">
                  <option value="Selecione a alternativa correta" disabled selected >Selecione a alternativa correta</option>
                  <option value="1">Primeira</option>
                  <option value="2">Segunda</option>
                  <option value="3">Terceira</option>
                  <option value="3">Quarta</option>
                </select>    
              </div>
          </div>
          <button class="btn" (click)="createQuestion()">Salvar</button>
        </div>
      </div>
    
</section>