<br>
<button class="back" [routerLink]="['/questions-list']"><span class="material-icons left">keyboard_arrow_left</span> voltar</button>

<section class="container center bg-form">
  <h5 class="text-white">Cadastrar nova pergunta</h5>
  <hr class="border-title">
  <br>
  <form [formGroup]="formQuestion">
    <select class="browser-default" formControlName="step">
      <option name="Selecione o tema" disabled selected>Selecione o tema</option>
      <option value="1">Cultura</option>
      <option value="2">Jornada Zup</option>
      <option value="3">Ética</option>
    </select>
    <div class="input-field col s12 text-white">
      <input id="description" type="text" class="validate" formControlName="description">
      <label for="description">Descrição da pergunta</label>
    </div>
  </form>
  <h6 class="text-white subtitle">Escreva as alternativas</h6>

  <section class="row">
    <div *ngFor="let alternative of formAltList; let i = index">
      <form [formGroup]="alternative">
        <div class="col s6">
          <div class="input-field text-white">
            <input type="text" class="validate" formControlName="description">
            <label> {{ alternativeArr[i]?.label }} </label>
          </div>
            <mat-checkbox formControlName="correct">Alternativa Correta</mat-checkbox>
        </div>  
      </form>
    </div>
  </section>
  <button class="btn" (click)="createFullQuestion()">Salvar</button>

</section>