<br>
<section class="container center bg-form">
  <h5 class="text-white">Cadastre uma nova pergunta!</h5>
  <hr class="border-title">
  <br>
    <select class="browser-default">
        <option name="Selecione o tema" disabled selected [(ngModel)]="idStep">Selecione o tema</option>
        <option value="1">Cultura</option>
        <option value="2">Tecnologia</option>
        <option value="3">Estrutura</option>
      </select>    

    <div class="row text-white">
        <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                  <input id="description" type="text" class="validate" [(ngModel)]="questionDescription">
                  <label for="description">Descrição da pergunta</label>
            </div>    
            <h6 class="text-white subtitle">Escreva as alternativas</h6>

            <div class="input-field col s6">
              <input id="first" type="text" class="validate" [(ngModel)]="alternative1">
              <label for="first">Primeira</label>
            </div>
            <div class="input-field col s6">
              <input id="second" type="text" class="validate" [(ngModel)]="alternative2">
              <label for="second">Segunda</label>
            </div>
            <div class="input-field col s6">
              <input id="third" type="text" class="validate">
              <label for="third">Terceira</label>
            </div>
            <div class="input-field col s6">
              <input id="fourth" type="text" class="validate">
              <label for="fourth">Quarta</label>
            </div>
              <div class="center"> 
                <select class="browser-default text-black">
                  <option name="Selecione a alternativa correta" disabled selected [(ngModel)]="alternative1">Selecione a alternativa correta</option>
                  <option value="1">Primeira</option>
                  <option value="2">Segunda</option>
                  <option value="3">Terceira</option>
                  <option value="3">Quarta</option>
                </select>    
              </div>
          </div>
          <button class="btn" (click)="createQuestion()">Salvar</button>
        </div>
      </div>
    
</section>