<nav class="transparent nav-border">
    <div class="nav-wrapper">       
      <img src="../../../assets/img/zup-logo.png" class="brand-logo">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  
  <section class="center-align theme margin-top-section">
      <p class="title">Título do assunto</p>
      <p class="text-white">link pro zupnet</p>
      
      <p class="waves-effect waves-light btn-large" [routerLink]="['/quiz']">Button</p>
  </section>

  