<mat-toolbar class="bg-darkblue text-white nav-border">
    <span><img src="../../../assets/img/zup-logo.png" width="90px" height="50px"></span>

  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
  </mat-toolbar>

    <section class="center theme">
        <h1 class="title">Título do assunto</h1>
        <h2 class="text-white link-zupnet center">link pro zupnet</h2>
        <button [routerLink]="['/quiz']" class="btn bg-green text-white center">continuar</button>
  
    </section>

  