

.nav-border{
    border-bottom: 2px solid #A5C138;
}


.theme{
    .title{
        margin-top: 10vh;
    }
}

.btn{
    border: none;
    padding: 5%;
    font-size: medium;
}

.link-zupnet{
    margin-top: 50%;
    margin-bottom: 50%;
}