.sidenav-fixed{
    width: 45vh;
    height: 100%;
    margin: 0;
    padding: 1%;
    background-color: white;
}

.theme-card{
    margin: 1%;
}

.main-dashboard{
    display: flex;
    height: 100%;
}

.theme-data{
    display: flex;
}

