<!-- LEFT SIDEBAR	 -->
<div class="main-dashboard">
    <ul id="sidenav-1" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <p href="#user"><img class="circle center" [src]="user.photoUrl"></p>
                <p href="#name"><span class="name center">Oi, {{ user.firstName }}!</span></p>
                <p href="#email"><span class="email center">{{ user.email }}</span></p>
            </div>
            <br>
            <div class="divider"></div>
            <br>
        </li>
        <li><a href="#!">Gerenciar questões</a></li>
        <li><a href="#!">Relatório detalhado</a></li>
        <li><a class="subheader">Gerenciar...</a></li>
    </ul>

    <div class="container theme-data ">
        <div class="col s12 m7 theme-card">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content center">
                        <h4>70%</h4>
                        <p>de algo</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Dado absoluto: 423423</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m7 theme-card">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content center">
                        <h4>70%</h4>
                        <p>de algo</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Dado absoluto: 423423</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m7 theme-card">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content center">
                        <h4>70%</h4>
                        <p>de algo</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Dado absoluto: 423423</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>