html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #013750;
}
.bg-darkblue {
  background-color: #013750;
}
.bg-lightblue {
  background-color: #4c8eac;
}
.bg-green {
  background-color: #a5c138;
}
.bg-white {
  background-color: #ffffff;
}
.text-white {
  color: #ffffff;
}
.text-green {
  color: #a5c138;
}
.center {
  display: table;
  margin: auto;
}
