@import '@angular/material/prebuilt-themes/purple-green.css';

html, body {
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Nunito', sans-serif; 
    background-color: #013750 
}

::-moz-selection {
    background: rgb(10, 158, 226); 
}

::selection { 
    background: rgb(10, 158, 226); 
}

*{
    box-sizing: border-box;
} 

.bg-darkblue{
    background-color: #013750
}

.bg-lightblue{
    background-color: #4C8EAC
}

.bg-green{
    background-color: #A5C138
}

.bg-white{
    background-color: #FFFFFF
}

.border-green{
    border-color: #A5C138;
}

.text-white{
    color: #FFFFFF;
}

.text-green{
    color: #A5C138
}

.text-black{
    color: #000000
}

.center{
    display: table;
    margin: auto;
}

button{
    border-radius: 5px;
    border: none;
}

.brand-logo{
    height: 80%;
    margin-left: 2%;
    margin-top: .3%
}

.cust-logo{
    padding: .7% .5% .3% 2%;
    
}

.margin-top-section{
    margin-top: 10%;
}

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
